.site-header {
    width: 33.333%;
    float: left;
    position: fixed;
    height: 100%;
    padding: $base-padding;

    @include breakpoint(alpha){
        position: fixed;
        background: $ui-color-lighter;
        height: auto;
        width: 100%;
        z-index: 10;
        left: 0;
        top: 0;
        padding: $base-padding;
        border-bottom: 1px solid $ui-color;
    }
}

.logo {
    color:$brand-color;
}

.site-footer {
    width: 33.333%;
    float: left;
    position: fixed;
    bottom: 50px;
    @include breakpoint(alpha){
        float: none;
        position: static;
        width: auto;
    }
}

.section-element {
    @extend .cf;
}

.pattern {
    border-bottom: 1px solid $ui-color;
    padding: $base-padding*2 0;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;

    &.active-pattern {}

    @include breakpoint(alpha){
        border-bottom: none;
    }
}

.reveal-html {
    padding: 5px;
    border: 1px solid $ui-color;
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
    position: relative;
}

#example-checkbox {
    display: none;
}

.reveal-html.show:after {
    content: "Hide HTML";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 0;
    bottom: 0;
    background: $ui-color-lighter;
}

/* Accordion */ 

.accordion {
    margin: 0 0 $base-margin 0;
    border: 1px solid $ui-color;
}

.accordion__header {
    padding: $base-padding/2;
    position:relative;
    border-top: 1px solid $ui-color;

    a {
        display: block;
        color: $font-color;;
        font-weight: bold;
        text-decoration: none;
    }

    &:nth-child(1) {
        border-top: none;
    }

    &:before {
        position: absolute;
        content: "+";
        line-height: 5px;
        text-align: center;
        margin-top:-4px;
        top:50%;
        right:10px;
        width:8px;
        height:8px;
        z-index: 1;
    } 
}

.accordion__header.active { 
    &:before {
        content:"-";        
    }
}

.accordion__content {
    padding: $base-padding/2;
}

/* Tabs */

.tabs {

    border: 1px solid $ui-color;
    margin-bottom: $base-margin;

    > .tabs__content {
        display: none;
        padding: 1em;
        position: relative;
        border-top: 1px solid $ui-color;
    }
    > .active {
        display: block;
    }
}

.tabs__nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        padding: 0;
        border-right: 1px solid $ui-color;
        border-bottom: 0;
        margin-right: -3px; //inline-block spacing
    }
    a {
        display:block;
        text-decoration: none;
        padding: .5em;
        &.active {
            position: relative;
            background: $ui-color-light;
        }
    }
    @media (max-width: 700px) {
        ul {
            border-bottom: 0;
            overflow: hidden;
            position: relative;
            background: #fff; /* fallback */

            &::after {
                content: "☰";
                position: absolute;
                top: 5px;
                right: 10px;
                z-index: 2;
                pointer-events: none;
            }
            &.open {
                a {
                    position: relative;
                    display: block;
                }
            }
        }

        li {
            display: block;
            border: 0;
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &.active {
                border: 0;
                z-index: 1;
                background: #fff;
            }
        }
    }
}




.demo {
    box-shadow: 1px 1px 10px;
    margin-top: $base-margin;
}