//AKA Shame.scss - For quick edits and testing to be sorted at a later point

/* Visual Breakpoints 

All the breakpoint info in one place to make it easier to look at

palm - Less than 480px 
lap - More than 480px less than 720px
lap-and-up -  More than 480px
portable - Less than 720px
desk - More than 720px
desk-wide - More than 960px

$palm-end: $lap-start - 1px;
$lap-end: $desk-start - 1px;

$lap-start:         480px;
$desk-start:        720px;
$desk-wide-start:   960px;

*/

// body {
// 	@include media-query(desk){ 
// 		border:1px solid orange;
// 	}
// 	@include media-query(desk-wide){ 
// 		border:1px solid red;
// 	}
// 	@include media-query(portable){ 
// 		border:1px solid yellow;
// 	}
// 	@include media-query(palm){ 
// 		border:1px solid green;
// 	}
// }


